@using B05ASPC21_w01.ViewModels
@model CartVM

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">

    <i class="fa-solid fa-cart-shopping"></i>
    <p>Count: @Model.Count</p>
</a>
    
    
